@model Chatto.Models.ChangePasswordModel
@{
	ViewBag.Title = "Change password";
}

<h2 class="display-2">Change password</h2>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
	@Html.AntiForgeryToken()

	<h6 class="display-6">Enter new password</h6>

	@Html.ValidationSummary(false, "", new { @class = "text-danger" })

	<div class="mb-2">

		<div class="form-group">
			@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", type = "password" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", type = "password" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", type = "password" })
			</div>
		</div>
	</div>

	<p><input type="submit" class="btn btn-outline-success" value="Confirm" /></p>
}
