
@{
	ViewBag.Title = "My friends";
}

<div class="jumbotron text-white lead" style="text-align: center; background-color: orangered" id="notificationBlock" hidden="hidden"> </div>

<h2 class="display-2">My friends</h2>

<table class="table table-hover table-borderless">
	@foreach (var friend in ViewBag.Friends)
	{
		<tr>
			<td>
				@friend.UserName (@friend.RealName)
				<div class="text-black-50">@friend.Email</div>
			</td>
			<td class="btn-group-sm align-middle" style="text-align: right">
				@Html.ActionLink("Chat", "ChatPage", "Account", new { friendUserName = friend.UserName }, new { @class = "btn btn-sm btn-outline-success" })
				@Html.ActionLink("Profile", "ProfileInfo", "Account", new { friendUserName = friend.UserName }, new { @class = "btn btn-sm btn-outline-primary" })
				@Html.ActionLink("Unfriend", "RemoveFriend", "Account", new { friendUserName = friend.UserName }, new { @class = "btn btn-sm btn-outline-danger" })
			</td>
		</tr>
	}
</table>

<div id="userName" hidden="hidden">@User.Identity.Name</div>

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
<script src='~/signalr/js'></script>
<script src="~/Scripts/util.js"></script>

