@model Chatto.BLL.DTO.UserDTO
@{
    ViewBag.Title = "My profile";
}

<h2 class="display-2">My profile - @User.Identity.Name</h2>

<div class="row">
	<div class="col-md-4 mb-5">
		<h3 class="display-6">My info</h3>
		<p>
			<table class="table table-borderless">
				<tr>
					<td><em>@Html.LabelFor(m => m.UserName)</em></td>
					<td>@Html.DisplayFor(m => m.UserName)</td>
				</tr>
				<tr>
					<td><em>@Html.LabelFor(m => m.RealName)</em></td>
					<td>@Html.DisplayFor(m => m.RealName)</td>
				</tr>
				<tr>
					<td><em>@Html.LabelFor(m => m.Email)</em></td>
					<td>@Html.DisplayFor(m => m.Email)</td>
				</tr>
			</table>
		</p>
		@Html.ActionLink("More info", "ProfileInfo", "Account", new { userName = Model.UserName }, new { @class = "btn btn-sm btn-outline-warning container-fluid" })
	</div>

	<div class="col-md-4 mb-5">
		<h3 class="display-6">My friends</h3>
		<p>
			нет друзей....
		</p>
	</div>

	<div class="col-md-4 mb-5">
		<h3 class="display-6">Settings</h3>
		<div class="btn-group-sm">
			@Html.ActionLink("Edit info", "ProfileEdit", "Account", new { @class = "btn btn-sm btn-outline-secondary" }) 
			@Html.ActionLink("Change password", "ChangePassword", "Account", new { @class = "btn btn-sm btn-outline-secondary" })
		</div>
	</div>
</div>