@model Tuple<List<Chatto.BLL.DTO.UserDTO>, List<string>>
@{
	ViewBag.Title = "My profile";
	int i = 0;
}


<h2 class="display-2">My profile - @User.Identity.Name</h2>

<div class="row">
	<div class="col-md-4 mb-5">
		<h3 class="display-6">My info</h3>
		<p>
			<table class="table table-borderless">
				<tr>
					<td><em>User Name</em></td>
					<td>@ViewBag.CurrentUser.UserName</td>
				</tr>
				<tr>
					<td><em>Real Name</em></td>
					<td>@ViewBag.CurrentUser.RealName</td>
				</tr>
				<tr>
					<td><em>E-mail</em></td>
					<td>@ViewBag.CurrentUser.Email</td>
				</tr>
			</table>
		</p>
		@Html.ActionLink("More info", "ProfileInfo", "Account", new { userName = ViewBag.CurrentUser.UserName }, new { @class = "btn btn-sm btn-outline-warning container-fluid" })
	</div>

	<div class="col-md-4 mb-5">
		<h3 class="display-6">My friends</h3>
		<p>
			<table class="table table-borderless table-hover">
				@if (Model.Item1.Count == 0)
				{
					<tr>
						<td>You haven't friended anyone... :(</td>
					</tr>
				}
				@foreach (var friend in Model.Item1)
				{
					if (i == 3)
					{
						i = 0;
						break;
					}
					<tr>
						<td>
							<em>@friend.UserName (@friend.RealName)</em>
						</td>
						@if (Model.Item2.Contains(friend.UserName))
						{
							<td style="text-align: right">waiting!</td>
						}
						else
						{
							<td style="text-align: right">@Html.ActionLink("Chat", "ChatRoom", "Chat", new { friendUserName = friend.UserName }, null)</td>
						}
					</tr>
					i = i + 1;
				}
			</table>
		</p>
		<div class="row">
			<div class="col">
				@if (Model.Item1.Count == 0)
				{
					@Html.ActionLink("All friends", "FriendsList", "Account", new { @class = "btn btn-sm btn-outline-info container-fluid disabled" })
				}
				else
				{
					@Html.ActionLink("All friends", "FriendsList", "Account", new { @class = "btn btn-sm btn-outline-info container-fluid" })
				}
			</div>
			<div class="col">
				@Html.ActionLink("Add friend", "PeopleList", "Account", new { @class = "btn btn-sm btn-outline-warning container-fluid" })
			</div>
		</div>
	</div>

	<div class="col-md-4 mb-5">
		<h3 class="display-6">Settings</h3>
		<div class="btn-group-sm">
			@Html.ActionLink("Edit info", "ProfileEdit", "Account", new { @class = "btn btn-sm btn-outline-secondary mt-1" })
			@Html.ActionLink("Change password", "ChangePassword", "Account", new { @class = "btn btn-sm btn-outline-secondary mt-1" })
			@Html.ActionLink("Delete account", "DeleteAccount", "Account", new { @class = "btn btn-sm btn-outline-danger mt-1" })
		</div>
	</div>

	@if (Model.Item2.Count > 0)
	{
		<div class="display-6">Notifications</div>
		<div class="jumbotron">
			@foreach (var pendingFriend in Model.Item2)
			{
				<div>
					<b>New friend: </b>@pendingFriend - @Html.ActionLink("Accept", "AddFriend", "Account", new { friendUserName = pendingFriend },
					 new { @class = "" }) or @Html.ActionLink("Decline", "DeclineFriend", "Account", new { friendUserName = pendingFriend }, new { @class = "" })
				</div>
			}
		</div>
	}
</div>