<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Chatto</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/modernizr-2.8.3.js")
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				@if (Request.IsAuthenticated)
				{
					@Html.ActionLink("Chatto - To Home", "Home", "Account", new { area = "" }, new { @class = "navbar-brand" })
				}
				else
				{
					@Html.ActionLink("Chatto", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
				}
			</div>
			<div class="">
				<ul class="nav navbar-nav">
					@Html.Partial("_LoginPartial")
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Chatto</p>
			<p><small>@Html.ActionLink("About", "About", "Home") &bull; @Html.ActionLink("Contact", "Contact", "Home")</small></p>
		</footer>
	</div>

	@Scripts.Render("~/Scripts/bootstrap.js")
	@RenderSection("scripts", required: false)
</body>
</html>
